*{
    margin: 0px;
}

body{
    background: rgb(17, 88, 168);
    align-items: center;
    text-align: center;
    margin: 20vh 0px;
}

#title{
    font-size: 60px;
    font-family: 'Anton','sans-serif';
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
}

.options{
    margin: 45px 30px 0px 30px;
    background: rgb(51, 221, 170);
    border-radius: 5px;
    border: 2px solid rgb(6, 73, 60);
    transition: 0.2s ease-out
}

.options:hover{
    cursor:pointer;
    background: rgb(5, 95, 68);
    color: #ffffff;
    transition: 0.2s ease-out;
}

.list{
    display: inline-block;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
}

.field {
    display:flex;
    position:realtive;
    margin:10px auto;
    width:70%;
    flex-direction:row;
}

.field>input[type=text]{
    display:block;
    font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em solid rgb(26, 188, 156);
}

#search{
    padding:0.5em 0.5em;
    background-color: rgb(10, 112, 95);
    color:white;
    margin: auto 5px;
    font-size: 22.5px;
    text-decoration: none;
    border:rgb(26, 188, 156) solid 3px;
}

#search:hover{
    cursor:pointer;
    background: rgb(85, 219, 179);
}